alembic
aniso8601
blinker
click
exceptiongroup
Faker
Flask
Flask-Bcrypt
Flask-Cors
Flask-JWT
Flask-JWT-Extended
Flask-Login
Flask-Migrate 
Flask-RESTful 
Flask-SQLAlchemy 
flask-swagger-ui
flask-wtf
gunicorn
importlib-metadata
importlib-resources
ipdb 
jinja2
pytest
SQLAlchemy
SQLAlchemy-serializer
Werkzeug
datetime
cryptography