alembic
aniso8601
blinker
click
exceptiongroup
Faker
Flask
Flask-Bcrypt
Flask-Cors
Flask-JWT
Flask-JWT-Extended
Flask-Login
Flask-Migrate 
Flask-RESTful 
Flask-SQLAlchemy 
Flask-WTF
gunicorn
importlib-metadata
importlib-resources
ipdb 
ipython
jinja2
pytest
SQLAlchemy
SQLAlchemy-serializer
Werkzeug
cryptography
PyJWT
